<html>
    <head>
        {{>links_head}}
    </head>
    <body>
        {{>navbar}}
        {{>link_js}}
        {{title}}
        {{title2}}
        {{!-- <script src='/client-js/app.js'></script> --}}
    </body>
</html>